<div class="container">
   <div class="row">
     <div class="col-12 mx-auto">
      <h3>マイページ</h3>

     <table>
      <tr>
       <th><strong>登録情報</strong></th>
       <td><%= link_to "編集する", customers_edit1_path, class:"btn btn-success btn-sm" %></td>
      </tr>
     </table></br>

      <table class="table table-striped">
       <tr>
        <th>氏名</th>
        <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
       </tr>

       <tr>
        <th>フリガナ</th>
        <td><%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %></td>
       </tr>

       <tr>
        <th>郵便番号</th>
        <td><%= current_customer.postal_code %></td>
       </tr>

       <tr>
        <th>住所</th>
        <td><%= current_customer.address %></td>
       </tr>

       <tr>
        <th>電話番号</th>
        <td><%= current_customer.telephone_number %></td>
       </tr>

       <tr>
        <th>メールアドレス</th>
        <td><%= current_customer.email %></td>
       </tr>
    </table>
   </div>

    <div class="row">
     <div class="col-12 mx-auto">
      <table>
        <tr>
         <th class="font-weight-bold">配送先</th>
         <td><%= link_to "一覧を見る", addresses_path, class:"btn btn-primary btn-sm" %></td>
        </tr>

        <tr>
         <th class="font-weight-bold">注文履歴</th>
         <td><%= link_to "一覧を見る", orders_path, class:"btn btn-primary btn-sm" %></td>
       </tr>
      </table>
     </div>
  </div>
 </div>
</div>