<h2>マイページ</h2>

<h2>登録情報</h2>
<%= link_to "編集する", edit_customers_path, class:"btn btn-success btn-sm" %>

<table>
  <thead>
    <tr>
      <th>氏名</th>
      <th>カナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td><%= current_customer.last_name %> <%= current_customer.first_name %></td>
      <td><%= current_customer.last_name_kana %> <%= current_customer.first_name_ kana %></td>
      <td><%= current_customer.postal_code %></td>
      <td><%= current_customer.address %></td>
      <td><%= current_customer.telephone_number %></td>
      <td><%= current_customer.email %></td>
    </tr>
  </tbody>
</table>

<h2>配送先</h2>
<%= link_to "一覧を見る", address_path, class:"btn btn-primary btn-sm" %>

<h2>注文履歴</h2>
<%= link_to "一覧を見る", orders_path, class:"btn btn-primary btn-sm" %>