<h2>商品詳細</h2>

<table class="table">

  <tbody>
    <tr>
      <td><%= image_tag @item.get_image %></td>
      <td>商品名:               <%= @item.name %></td>
      <td>商品説明:             <%= @item.introduction %></td>
      <td>ジャンル:             <%= genre.name %></td>
      <td>税込価格（税抜価格）: <%= @item.price %></td>
      <td>販売ステータス:       <%= @item.is_active %></td>
    </tr>
  </tbody>

  <%= link_to "編集する", edit_admin_item_path, class:"btn btn-success btn-sm" %>
