<h2>会員詳細</h2>

<p>
 <strong>会員ID</strong>
 <%=  %>
</p>

<p>
 <strong>氏名</strong>
 <%=  %>
</p>

<p>
 <strong>フリガナ</strong>
 <%=   %>
</p>

<p>
 <strong>郵便番号</strong>
 <%=   %>
</p>

<p>
  <strong>住所</strong>
  <%=   %>
</p>

<p>
  <strong>電話番号</strong>
  <%=   %>
</p>

<p>
  <strong>メールアドレス</strong>
  <%=   %>
</p>

<p>
  <strong>会員ステータス</strong>
  <%=   %>
</p>

<p>
<%= link_to "編集する" edit_admin_customer_path %>

<%= "注文履歴一覧を見る" %>
</p>