

<div class="container">
   <div class="row">
    <div class="col-12 mx-auto">
    <h3>注文履歴詳細</h3>
    <table>
     <tr>
      <th>購入者</th>
      <td><%= @order.name %></td>
     </tr>

     <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
     </tr>

     <tr>
      <th>配送先</th>
      <td>
       <%= @order.postal_code %><%= @order.address %></br>
       <%= @order.name %>
      </td>
     </tr>

     <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method_i18n %></td>
     </tr>

     <tr>
      <th>注文ステータス</th>
      <td>
        <%= @order.status_i18n %>
         <%= form_with model: @order,url: admin_order_path(@order.id) do |f| %>
         <%= f.select :status, Order.statuses_i18n.keys.map {|k| [I18n.t("enums.order.status.#{k}"), k]} %>
         <%= f.submit "変更", class:"btn btn-success btn-sm" %>
        <% end %>
      </td>
     </tr>
    </table>
    </div>
   </div>
   </br>

    <div class="row">
     <div class="col-8 mx-auto">
     <table class="table table-hover table-inverse">
       <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </tr>
       </thead>
        <% @total = 0  %>
       <tbody>
        <% @order_details.each do |order_detail| %>
         <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.price_including_tax %></td>
          <td><%= order_detail.amount %></td>
          <td><%= order_detail.subtotal.to_i %></td>
          <% @total += order_detail.subtotal.to_i %>
          <td>
           <%= order_detail.making_status_i18n %>
            <%= form_with model: order_detail,url: admin_order_detail_path(order_detail.id) do |f| %>
             <%= f.select :making_status, OrderDetail.making_statuses_i18n.keys.map {|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
             <%= f.submit "変更", class:"btn btn-success btn-sm" %>
            <% end %>
          </td>
          <td></td>
         </tr>
         <% end %>
       </tbody>
      </table>
     </div>


<div class="col-4 mx-auto">
<table class="table table-bordered">
    <tr>
      <th>商品合計</th>
      <td><%= @total.to_i %><%= "円" %></td>
    </tr>

    <tr>
      <th>配送料</th>
       <td><%= @order.shipping_cost %><%= "円" %></td>
    </tr>

    <tr>
      <th>請求金額合計</th>
      <td><%= @order.shipping_cost.to_i + @total.to_i %><%= "円" %></td>
    </tr>
   </table>
  </div>
 </div>
</div>