<h2>注文履歴詳細</h2>

<div class="container">
   <div class="row">
    <p>
     <strong>購入者</strong>
      <%= order.name %>
    </p>
    
    <p>
     <strong>注文日</strong>
      <%= order.create_at %>
    </p>
    
    <P>
     <strong>配送先</strong>
      <%= order.postal_code %><%= order.address %><%= order.name %>
    </P>
    
    <p>
     <strong>支払方法</strong>
      <%= order.payment_method %>
    </p>
    
    <p>
     <strong>注文ステータス</strong>
     
    </p>
   </div>
    
    <div class="row">
     <table>
       <thead>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th>製作ステータス</th>
          <th></th>
        </tr>
       </thead>
       
       <tbody>
         <tr>
          <td><%= item.name %></td>
          <td><%= order_detail.price %></td>
          <td><%= order_detail.amount %></td>
          <td></td>
          <td><%= order_detail.making_status %></td>
          <td></td>
         </tr>
       </tbody>
     </table>
    </div>
</div>