<h3>ショッピングカート</h3>
<% if @cart_item.customer == current_customer %>
  <%= link_to "カートを空にする", cart_items_destroy_all_path, class:"btn btn-danger btn-sm", method: :delete, "data-confirm" => "本当に空にしますか？" %>
<% end %>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.name %></td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td><%= cart_item.amount %></td>
      <td><%= cart_item.subtotal %></td>
      <% @totel += cart_item.subtotal %>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>

