<h3>注文履歴詳細</h3>
 <div class="container">
   <div class="row">
     <div class="col-8 mx-auto">
      <strong>注文情報</strong>
        <table class="table table-bordered">
            <tr>
              <th>注文日</th>
               <td><%= @order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
               </tr>

               <tr>
              <th>配送先</th>
               <td><%= @order.address %></td>
               </tr>

               <tr>
              <th>支払方法</th>
               <td><%= @order.payment_method_i18n %></td>
               </tr>

               <tr>
              <th>ステータス</th>
              <td><%= @order.status_i18n %></td>
            </tr>
        </table>
     </div>

     <div class="col-4 mx-auto">
      <strong>請求情報</strong>
       <table class="table table-bordered">
         <tr>
           <th>商品合計</th>
           <td><%= @total.to_i %></td>
         </tr>

         <tr>
           <th>配送料</th>
           <td><%= @order.shipping_cost %></td>
         </tr>

         <tr>
           <th>ご請求額</th>
           <td><%= @order.shipping_cost.to_i + @total.to_i %></td>
         </tr>
       </table>
      </div>
   </div>

<div class="row">
 <div class="col-11 mx-auto">
  <strong>注文内容</strong>
   <table class="table table-bordered">
    <thead>
     <tr>
       <th>商品名</th>
       <th>単価（税込）</th>
       <th>個数</th>
       <th>小計</th>
     </tr>
    </thead>

     <% @total = 0  %>
    <tbody>
     <% @order_details.each do |order_detail| %>
     <tr>
       <td><%= order_detail.item.name %></td>
       <td><%= order_detail.item.with_tax_price %></td>
       <td><%= order_detail.amount %></td>
       <td><%= order_detail.subtotal %></td>
       <% @total += order_detail.subtotal.to_i %>
     </tr>
     <% end %>
    </tbody>
   </table>
  </div>
 </div>
</div>