<h3>商品詳細</h3>
<div class="container">
 <div class="row">
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <div class="card mb-3" style="max-width: 400px;">
      <%= image_tag @item.get_image(400, 400) %>
     <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @item.name %></h5>
        <p class="card-text"><%= @item.introduction %></p>
        <p class="card-text"><%= "￥" %><%= @item.price %><%= "（税込）" %></p>
      </div>
     </div>
    </div>

    <p>
     <%= form_with model: @cart_item,local: true do |f| %>
       <%= f.hidden_field :item_id, value:@item.id %>
       <%= f.select :amount, *[1..10] %>
       <%= f.submit "カートに入れる", class:"btn btn-success btn-sm" %>
     <% end %>
    </p>
  </div>
</div>
</div>
