<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>

      <%= "マイページ" %>

      <%= "商品一覧" %>

      <%= "カート" %>

      <%= "ログアウト" %>


      <% elsif admin_signed_in? %>

      <%= "商品一覧" %>

      <%= "会員一覧" %>

      <%= "注文履歴一覧" %>

      <%= "ジャンル一覧" %>

      <%= "ログアウト" %>


      <% else %>

      <%= "About" %>

      <%= "商品一覧"%>

      <%= "新規登録" %>

      <%= "ログイン" %>

      <% end %>


    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
